.navbar-brand img{
    width: 150px;
    height: auto !important;
}
header.masthead {
    background-image: url(../assets/img/gedung-idb-baru-IRENG.png);
}
.text-primary {
    color: rgb(7, 7, 121) !important;
}